<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Simplez²</title>
    <meta charset="utf-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/photon.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

  <body>
    <!-- Wrap your entire app inside .window -->
    <div class="window">
    
        <!-- .toolbar-header sits at the top of your app -->
        <header class="toolbar toolbar-header">
            <h1 class="title pull-left"><b>Simplez²</b></h1>
            <div class="pull-right">
                <button id="zoom-btn" class="btn btn-positive"></button>
                <button id="min-btn" class="btn btn-warning"></button>
                <button id="close-btn" class="btn btn-negative"></button>
            </div>
        </header>

        <!-- Your app's content goes inside .window-content -->
        <div class="window-content">
            <div class="padded-more">
                <div class="centered">
                    <h1>EDITOR</h1>
                </div>
            </div>
        </div> <!-- /window-content -->

        <!-- footer with control buttons -->
        <footer class="toolbar toolbar-footer">
            <span class="pull-left active">F1. Editor</span>
            <span class="pull-left">F2. Ensamblador</span>
            <span class="pull-left">F3. Menu</span>
        </footer>

        </div> <!-- /window -->

        <!-- Electron Javascript -->
        <script src="../window.js"></script>

    </body>
</html>